<mat-grid-list cols="2" rowHeight="400px">
  <mat-grid-tile
  *ngFor= "let timecard of this.weekTotal"
  >
  <mat-card class="example-card">
  <mat-card-title>{{timecard.title}}</mat-card-title>
  <mat-card-subtitle>Total Hours: {{timecard.time}}</mat-card-subtitle>
  <mat-divider inset style="background-color:rgb(24, 79, 98);"></mat-divider>
  <mat-card-content>
    <p>{{timecard.mon}} </p>
    <p>{{timecard.tue}}</p>
    <p>{{timecard.wen}}</p>
    <p>{{timecard.thu}}</p>
    <p>{{timecard.fri}}</p>
    <p>{{timecard.sat}}</p>
    <p>{{timecard.sun}}</p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button [routerLink]="['/timecardsDetail', timecard.index]" mat-button style="background-color: rgb(24, 79, 98); color: white;" (click)="viewHandler(timecard.index)">View</button>
  </mat-card-actions> -->
</mat-card>
  </mat-grid-tile>
</mat-grid-list>
